.dark-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: #282a36;
  color: #f8f8f2;

  font-family: "Bellota", cursive;

  width: 100vw;
  height: 100vh;
}

.dark-welcome .feedback {
  padding: 25px;
}

.dark-welcome .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 20px;
}

.dark-welcome .buttons button {
  width: 150px;
  height: 30px;

  border: none;

  border-radius: 8px;
  cursor: pointer;
}

.dark-welcome .buttons button:nth-child(1) {
  background-color: #50fa7b;
  color: #44475a;
}

.dark-welcome .buttons button:nth-child(2) {
  background-color: #ff5555;
  color: #f8f8f2;
}
